{{set . "title" "Home"}}
{{template "header.html" .}}

<!-- Me -->
<article id="me" class="panel">
	<header>
		<h1>Rei Mark</h1>
		<p><!--[-->Web Systems Developer<!--]--></p>
	</header>
	<a href="#work" class="jumplink pic">
		<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
		<img src="/public/img/me.jpg" alt="" />
	</a>
</article>

<!-- Work -->
<article id="work" class="panel">
	<header>
		<h2>Work</h2>
	</header>
	<p>
		Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
		Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
		luctus elit eget interdum.
	</p>
	<section>
		<div class="row">
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic01.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic02.jpg" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic03.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic04.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic05.jpg" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic06.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic07.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic08.jpg" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic09.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic10.jpg" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic11.jpg" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="/public/img/pic12.jpg" alt=""></a>
			</div>
		</div>
	</section>
</article>

<!-- Contact -->
{{template "App/Contact.html" .}}

					

{{template "footer.html" .}}
